/* rcl-af-integration */
#af-wrapper .icon-status-indent{
padding-left:5px;
}
#af-wrapper .icon-status-admin{
font-size: 13px;
font-weight:bold;
color: #F43D2A;
}
#af-wrapper .icon-status-moderator {
	font-size: 13px;
	font-weight:bold;
    color: #469AC6;    
}
#af-wrapper .icon-status-contributor{
font-size: 13px;
font-style: normal;
color: #E3BB24;
}
#af-wrapper .icon-status-author{
font-size: 13px;
font-style: normal;
color: #099922;
}
#af-wrapper .icon-status-editor{
font-size: 13px;
font-style: normal;
color: #099922;
}
#af-wrapper .status-forum-online {
    background-color: #bfffbd;
    margin-bottom: 7px;
    padding: 2px 15px;
    color: #008000;
}
#af-wrapper .ucc-cou-siti{
color: #469AC6;
font-size: 8px !important;
/*padding: 0px 0px 5px;*/
}
#af-wrapper .data-registered{
color: #469AC6;
font-size: smaller;
padding: 0px 0px 2px;
}
#af-wrapper .signature{
    display: block; 
    font-size: 13px;
    font-weight: bold;
    color: #469AC6;
    text-align: left;
    position: absolute;
    padding: 5px 10px;
    bottom: 0;
    left: 0;
}
#af-wrapper .rating-post{
    display: block; 
    width: 100%;
    color: #A85400;
    padding: 5px 10px;
    bottom: 0;
    left: 0;
}
#af-wrapper .rating-header{
margin-bottom: 20px;
border-top: 2px solid rgba(0, 0, 0, 0.2);
}
#af-wrapper .element-hide{
display: none;
}
#af-wrapper .signature-hide{
display: none;
}
#af-wrapper .icon-hide{
display: none;
}
#af-wrapper .info-hide{
display: none;
}
#af-wrapper .afrcl-field{
    font-size: smaller;
    font-weight: bold;
    color: #469AC6;
}
/* спойлер */
#af-wrapper .details summary {
  position: relative;
  font-size: smaller;
  background: #2d89cc;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}
#af-wrapper .details summary::-webkit-details-marker {
   position: absolute;
   right: 1px;
   top: 35%;
}
#af-wrapper .details[open] summary {
  background: #c0c0c0;
}
#af-wrapper .soc-link{
border-top: 1px solid rgba(0, 0, 0, 0.2);
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
